<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <title>한빛청년부 통성경</title>
</head>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<body>
    <section class="bible-story-section">
        <div class="content-wrapper">
            <h2 class="subtitle">한빛청년부 통성경</h2>
            <h1 class="title">10분에 성경 전체 이야기</h1>
            <div class="zig-zag-line"></div>
            
            <input type="hidden" id="completionCount" value="0"/>

            <div class="namebox">
                <div class="textbox">
                    <input type="text" id="userName" class="userNameInput" placeholder="이름을 입력해주세요. (예: 신현진)"/>
                </div>
                <!--<button id="userClick" onclick="checkName();">버튼 눌러서 타자연습 시작하기</button>-->
                <button id="userClick" onClick="checkName();">버튼 눌러서 타자연습 시작하기</button>
            </div>
            
            <div id="whiteBox" class="shadowbox afterbox"> <!-- afterbox class 빼면 투명막 사라짐 -->
                <!-- 현재 문장을 표시하는 박스 -->
                <div class="sentence-box" id="sentence"></div>
                <!-- 사용자 입력 -->
                <input type="text" id="userInput" class="userInput" placeholder="문장을 입력하세요."/>
                <!-- 다음 문장 미리보기 박스 -->
                <div id="nextSentence1" class="next-sentence"></div>
                <div id="nextSentence2" class="next-sentence"></div>
                <div id="nextSentence3" class="next-sentence"></div>
                <!-- 진행률 막대기 -->
                <div class="progress-bar-container">
                    <div class="progress-bar" id="progressBar"></div>
                    <div class="progress-text" id="progressText">0%</div>
                </div>
            </div>

            <!-- 랭킹 -->
            <div class="ranking">
                <table class="ranking-table">
                    <colgroup>
                        <col width="20%">
                        <col width="20%">
                        <col width="40%">
                        <col width="20%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>순위</th>
                            <th>이름</th>
                            <th>속도</th>
                            <th>완료 횟수 </th>
                        </tr>
                    </thead>
                    <tbody id="rankingList">
                        <!-- 랭킹 데이터는 JavaScript로 동적으로 채워집니다 -->
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <div class="popup" id="popup" style="display: none;">
        <div class="inner-popup">
            <div class="content">
                <p class="popup-rank">0번째 완료!</p>
                <p class="popup-second">00.00초</p>
                <button id="closePopup" class="popupClick">확인</button>
            </div>
        </div>
    </div>
    
    <script>
        const sentences = [
        "우리가 사도행전", 
            "사람들 앞에서",
            ];

        let currentSentenceIndex = 0;
        let startTime, endTime, timeTaken;
        let checkFlag = false;

        const sentenceElement = document.getElementById('sentence');
        const inputElement = document.getElementById('userInput');
        const nextSentence1 = document.getElementById('nextSentence1');
        const nextSentence2 = document.getElementById('nextSentence2');
        const nextSentence3 = document.getElementById('nextSentence3');
        const progressBar = document.getElementById('progressBar');
        const progressText = document.getElementById('progressText');
        const btnClosePopup = document.getElementById('closePopup');


        function displaySentences() {
            // 첫 번째 문장 표시
            sentenceElement.innerText = sentences[currentSentenceIndex] || "";
            // 다음 3개의 문장 표시
            nextSentence1.innerText = sentences[currentSentenceIndex + 1] || "";
            nextSentence2.innerText = sentences[currentSentenceIndex + 2] || "";
            nextSentence3.innerText = sentences[currentSentenceIndex + 3] || "";
            // 진행률 업데이트
            updateProgress();
            inputElement.value = ''; // 입력 필드를 비움
        }

        function updateProgress() {
            const progress = ((currentSentenceIndex + 1) / sentences.length) * 100;
            progressBar.style.width = `${progress}%`;  // 막대기 너비 설정
            progressText.innerText = `${progress.toFixed(2)}%`;  // 진행률 텍스트 업데이트
        }
        
        btnClosePopup.addEventListener('click', function() {
        	$(".popup").hide();
        });
        
        // 입력값 비교 및 색상 표시
        inputElement.addEventListener('input', function () {
            const typedText = inputElement.value;
            const currentSentence = sentences[currentSentenceIndex];

            let highlightedText = '';
            let isCorrect = true;

            // 이름 넣었는지 확인
            if(checkFlag) {
                // nothing to do.
                document.cla
            } else {
                alert("이름을 입력해 주세요");
                document.getElementById('userName').focus();
            }

            for (let i = 0; i < currentSentence.length; i++) {
                if (typedText[i] === currentSentence[i]) {
                    highlightedText += currentSentence[i];  // 올바른 부분은 그대로 표시
                } else if (typedText[i] !== undefined) {
                    highlightedText += `<span class="incorrect">${currentSentence[i]}</span>`;  // 틀린 부분은 빨간색
                    isCorrect = false;
                } else {
                    highlightedText += currentSentence[i];  // 아직 입력되지 않은 부분은 그대로 표시
                }
            }

            sentenceElement.innerHTML = highlightedText;


        });

        // 엔터로 문장 전환
        inputElement.addEventListener('keypress', function (event) {
            if (event.key === 'Enter') {
                const typedText = inputElement.value;
                const currentSentence = sentences[currentSentenceIndex];

                if (typedText === currentSentence) {
                    currentSentenceIndex++;
                    if (currentSentenceIndex < sentences.length) {
                        displaySentences();
                        inputElement.value = '';  // 입력 필드 비움
                    } else {
                        sentenceElement.textContent = "모든 문장을 완료했습니다!";
                        inputElement.disabled = true;  // 모든 문장을 완료하면 입력 비활성화
                        endTime = new Date(); // 타자 연습 끝난 시간 기록
                        timeTaken = (endTime - startTime) / 1000; // 걸린 시간(초 단위)
                        insertUser();
                        
                        const completionCountDiv = document.getElementById('popup');
                        var popContents = "";
                        var completionCountValue = Number($("#completionCount").val());
                        popContents = `<div class="inner-popup">
				            <div class="content">
				                <p class="popup-rank">${completionCountValue+1}번째 완료!</p>
				                <p class="popup-second">${timeTaken}초</p>
				                <button id="closePopup" class="popupClick" onClick="hidePopup();">확인</button>
				            </div>
				        </div>`;
                        completionCountDiv.innerHTML += popContents;
                        $(".popup").show();
                    }
                }
            }
        });
        
        function checkName() {
            let name = document.getElementById('userName').value;
            var form = {name: name};
            var isCheckName = false;
            
            $.ajax({
                type: "POST"
                , url: "/checkName"
                , data: form
                , async: false
                , success: function(data) {
                    if(data > 0) {
                    	isCheckName = true;
                    } else {
                    	isCheckName = false;
                    }
                }
                , error: function(e) {
                	console.log(e);
                }
            });
            
            if (isCheckName) {
                // 이름이 있을 때
                $("#userClick").css("background-color", "#8f8f8f");
                document.getElementById('userName').disabled = true;
                checkFlag = true;
                document.getElementById('whiteBox').classList.remove('afterbox');
                startTime = new Date(); // 타자 연습 시작 시간 기록
                completionCount();
                document.getElementById('userInput').focus();
            } else {
                // 이름이 없을 때
                alert("정확한 본인의 이름을 입력해 주세요.");
                document.getElementById('userName').focus();
            }

        }

        function insertUser() {
            var form = {
                name: document.getElementById('userName').value,
                completionTime: timeTaken
            }
            $.ajax({
                type: "POST"
                , url: "/insert"
                , data: form
                , success: function(data) {
                    selectUser();
                }
                , error: function(e) {
                    
                }
            });
        };
        
        function selectUser() {
            $.ajax({
                type: "GET"
                , url: "/user"
                , success: function(data) {
                    const rankingList = document.getElementById('rankingList');
                    rankingList.innerHTML = '';  // 이전 내용을 비웁니다.
                    var row = '';
                    for(var cnt=0; cnt < data.data.length; cnt++) {
                        row += `<tr>`;
                        if (cnt == 0) {
                            row += `<th class="">
                                <span class="material-symbols-outlined" style="color:#D5A11E"> family_star </span>
                            </th>`;
                        } else if (cnt == 1) {
                            row += `<th class="">
                                <span class="material-symbols-outlined" style="color:#A3A3A3"> family_star </span>
                            </th>`;
                        } else if (cnt == 2) {
                            row += `<th class="">
                                <span class="material-symbols-outlined" style="color:#CD7F32"> family_star </span>
                            </th>`;
                        } else {
                            row += `<th class="">
                                ${cnt+1}
                            </th>`;
                        }
                        row += `<td>${data.data[cnt].name}</td>
                            <td>${data.data[cnt].completionTime} 초</td>
                            <td>${data.data[cnt].completionCount} 번</td>
                            </tr>`;
                    }
                    rankingList.innerHTML += row;
                }
                , error: function(e) {
                    console.log(e);
                }
            });
        };
        
        function completionCount() {
        	var form = {
                name: document.getElementById('userName').value
            }
            $.ajax({
                type: "POST"
                , url: "/completion"
                , data: form
                , success: function(data) {
                    if (data > 0) {
                    	$("#completionCount").val(data);
                    } else {
                    	$("#completionCount").val(0);
                    }
                }
                , error: function(e) {
                    
                }
            });
        };
        
        function hidePopup() {
        	$(".popup").hide();
        	location.reload();
        }

        // 페이지 로드 시 첫 문장과 다음 문장 3개를 표시
        window.onload = function() {
            displaySentences();
            selectUser();
        };
    </script>
</body>
</html>
